<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.5" />
    <supportedRuntime version="v4.0.30319" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <add key="advancedoptions" value="False" />
    <add key="allowsingleinstance" value="False" />
    <add key="annoyance" value="True" />
    <add key="autoscroll" value="True" />
    <add key="bufferlines" value="99999" />
    <add key="buffermax" value="80" />
    <add key="buffermin" value="40" />
    <add key="buffersize" value="100" />
    <add key="configfile" value="CDFMonitor.exe.config" />
    <add key="debug" value= "False" />
    <add key="deploypath" value="" />
    <add key="displayfilter" value= "" />
    <add key="enableflags" value="4294967295" />
    <add key="eventcommand" value="" />
    <add key="eventcommandwait" value="False" />
    <add key="eventmaxcount" value="0" />
    <add key="eventthrottle" value="0" />
    <add key="gatherpath" value="" />
    <add key="logbufferonmatch" value="True" />
    <add key="logfileautoflush" value="True" />
    <add key="logfilemaxcount" value="20" />
    <add key="logfilemaxsize" value="10" />
    <add key="logfilename" value="cdfmonitor.log" />
    <add key="logfileoverwrite" value="True" />
    <add key="logfileserver" value="" />
    <add key="loglevel" value="16" />
    <add key="logmatchdetail" value="False" />
    <add key="logmatchonly" value="False" />
    <add key="logtoconsole" value="True" />
    <add key="moduleenablebyfilter" value="False" />
    <add key="modulefilter" value="." />
    <add key="modulepath" value="" />
    <add key="monitorprocesses" value="False" />
    <add key="modulesource" value="" />
    <add key="regexpattern" value= "." />
    <add key="remoteactivity" value="" />
    <add key="remotemachines" value= "" />
    <add key="remotemachinespath" value="" />
    <add key="remoteusemachinescache" value="False" />
    <add key="retries" value= "1" />
    <add key="runas" value= "gui" />
    <add key="servicestartmode" value="" />
    <add key="shutdowncommand" value="" />
    <add key="shutdowncommandwait" value="False" />
    <add key="smtppassword" value="" />
    <add key="smtpport" value="25" />
    <add key="smtpsendto" value="" />
    <add key="smtpsendfrom" value="" />
    <add key="smtpserver" value="" />
    <add key="smtpsubject" value="" />
    <add key="smtpuser" value="" />
    <add key="smtpssl" value="False" />
    <add key="startupcommand" value="" />
    <add key="startupcommandwait" value="" />
    <add key="starteventenabled" value="False" />
    <add key="starteventenabledimmediately" value="False" />
    <add key="starteventid" value="0" />
    <add key="starteventsource" value="" />
    <add key="stopeventsource" value="" />
    <add key="stopeventdisabledpermanently" value="False" />
    <add key="stopeventenabled" value="False" />
    <add key="stopeventid" value="0" />
    <add key="tmfcachedir" value= "tmfs" />
    <add key="tmfservers" value= "http://ctxsym.citrix.com/tmfs/xaxd/" />
    <add key="tracefileinput" value="" />
    <add key="tracefileoutput" value="cdfmonitor.etl" />
    <add key="udpclientenabled" value="False" />
    <add key="udpclientport" value="45000" />
    <add key="udppingserver" value="" />
    <add key="udppingtimer" value="60" />
    <add key="udpserver" value="" />
    <add key="udpserverport" value="45001" />
    <add key="usetracesourcefordestination" value="False" />
    <add key="urlfiles" value="" />
    <add key="urlpassword" value="" />
    <add key="urlsite" value="" />
    <add key="urluser" value="" />
    <add key="usecredentials" value="False" />
    <add key="useservicecredentials" value="False" />
    <add key="usetargettime" value="True" />
    <add key="version" value="" />
    <add key="writeevent" value= "False" />
  </appSettings>
</configuration>